{{!-- If user is logged in, display dashboard --}}
{{#if loggedIn}}

{{!-- Or else ask user to log in/sign-up --}}
{{else}}
<div class="logged-out-container">
    <p>You are currently logged out. Please <a href="/login">log in</a> to access your dashboard or <a href="sign-up">sign up</a> to join the BTB community.</p>
</div>
{{/if}}