<form id="post-form" data-value="{{id}}">
    <input type="text" name="title" id="title" placeholder="Title" value="{{post.title}}">
    <textarea name="content" id="content" cols="30" rows="10" placeholder="Content">{{post.content}}</textarea>
    <button type="submit">Update Post</button>
</form>

<script src="/js/updatePost.js"></script>