<div id="login-container">
    <form class="login-form">
        <div class="login-row">
            <label for="username-login">Username:</label>
            <input type="text" id="username-login"/>
        </div>
        <div class="login-row">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login"/>
        </div>
        <div>
            <button id="login-btn">Login</button>
            <p>Don't have an account? <a href="/sign-up" class="underline">Sign-up</a> instead.</p>
        </div>  
    </form>
</div>

<script src="/js/login.js"></script>