<div class="login-container">
    <form class="login-form">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login"/>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login"/>
        <button id="login-btn">Login</button>
    </form>
    <div>
        <p>Don't have an account? <a href="/sign-up" class="underline">Sign-up</a> instead.</p>
    </div>
</div>

<script src="/js/login.js"></script>