{{!-- Take user to dashboard if already signed in --}}
{{#if loggedIn}}
<div>
    <h2>You are already signed in. Visit your dashboard <a href="/dashboard">here</a></h2>
</div>

{{!-- Or else show sign-up form --}}
{{else}}
<div class="sign-up-container">
    <div class = "sign-up-form">
        <label for="username-sign-up">Username:</label>
        <input type="text" id="username-sign-up"/>
        <label for="password-sign-up">Password:</label>
        <input type="password" id="password-sign-Up"/>
        <button id="login-btn">Sign-up</button>
    </div>
        <div>
        <p>Don't have an account? <a href="/login">Log in</a> instead.</p>
    </div>
</div>
{{/if}}