<div class="sign-up-container">
    <div class = "sign-up-form">
        <label for="username-sign-up">Username:</label>
        <input type="text" id="username-sign-up"/>
        <label for="password-sign-up">Password:</label>
        <input type="password" id="password-sign-Up"/>
        <button id="login-btn">Sign-up</button>
    </div>
        <div>
        <p>Don't have an account? <a href="/login">Log in</a> instead.</p>
    </div>
</div>

<script src="/js/signUp.js"></script>