:root {
    --white: rgb(245, 239, 222);
    --darkWhite: rgb(231, 216, 196);
    --black: rgb(70, 65, 65);
    --rust: rgb(182, 85, 40);
    --darkRust: rgb(117, 61, 36);
}

html {
    background-color: rgb(44, 40, 40); color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    display: flex; justify-content: center;
}

a { 
    color: inherit; 
    text-decoration: none;
}

button {
    background-color: var(--darkRust);
    color: var(--white);
    border-radius: 10px;
    border: none;
    display: flex; align-items: center; justify-content: center;
    font-weight: bold;
    padding: 10px 20px;
}

button:hover {
    background-color: var(--rust);
    cursor: pointer;
}

/* Header */
header {
    background-color: var(--rust); color: var(--white);
    display: flex; align-items: center; justify-content: center;
    height: 80px; width: 100%;
}

#header-container {
    display: flex; align-items: center; justify-content: space-between;
    width: 100%; max-width: 1150px;
}

h1 {
    display: flex; align-items: center;
    height: 80px; width: 25%;
    padding-left: 20px;
}

/* Navigation */
nav {
    height: 80px; width: 49.5%;
    display: flex; align-items: center; justify-content: center;

}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

nav a {
    font-size: 18px;
}

/* New Post */
#new-post-container {
    display: flex; align-items: center; justify-content: right;
    height: 80px; width: 25%;
}

#new-post {
    background-color: var(--darkRust);
    border-radius: 10px;
    display: flex; align-items: center; justify-content: center;
    font-weight: bold;
    text-decoration: none;
    height: 60px; width: 110px;
    margin-right: 20px;
}

#new-post:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

/* Blog Post */
.blog-post {
    background-color: var(--darkWhite);
    width: 700px;
    border-width: 1px; border-style: solid; border-color: var(--black);
}

.blog-post-header {
    height: 50px; width: calc(100% - 20px);
    background-color: var(--black);
    color: var(--white);
    display: flex; align-items: center;
    padding-left: 20px;
}

.blog-post-meta {
    display: flex; align-items: center; justify-content: right;
    height: 20px; width: calc(100% - 20px);
    background-color: var(--rust);
    margin: 0;
    color: var(--white);
    font-size: 14px;
    padding-right: 20px;
}

.blog-post-content {
    width: calc(100% - 40px);
    padding: 0 20px;
    word-break:break-all;
}

/* Comment */
.comment {
    margin-top: 0px;
    background-color: var(--darkWhite);
    width: 700px;
    border-width: 1px; border-style: solid; border-color: var(--rust);
}

.comment-header {
    height: 24px; width: calc(100% - 20px);
    background-color: var(--rust);
    color: var(--white);
    display: flex; align-items: center;
    padding-left: 20px;
    font-size: 14px;
    display: flex; align-items: center; justify-content: right;
}

.comment-header p {
    padding-right: 20px;
}

.comment-content {
    width: calc(100% - 40px);
    padding: 0 20px;
    word-break:break-all;
}

/* New Comment */
#new-comment-container {
    width: 700px;
    display: flex; align-items: center; justify-content: center;
}

textarea {
    resize: none;
    height: 100px; width: 400px;
}

#comment-button {
    display: flex; align-items: center; justify-content: center;
}

/* New Post Form */
#post-form {
    height: 200px;
    width: 500px;
    display: flex; align-items: center; justify-content: center; 
    flex-direction: column; gap: 10px;
}

#post-form input{
    width: 398px;
}

/* Dashboard Item */
#dashboard-container {
    display: flex; align-items: center; justify-content: center;
    flex-direction: column; gap: 20px;
    width: 100%; max-width: 1150px;
}

.item {
    background-color: var(--rust);
    width: 700px;
    height: 70px;
}

.item-main {
    background-color: var(--black);
    color: var(--white);
    display: flex; align-items: center; flex-direction: row;
    width: 100%;
    height: 45px;
}

.item-header {
    padding-left: 20px;
    width: 590px;
    height: 100%;
    display: flex; align-items: center;
}

.item-buttons {
    display: flex; align-items: center; justify-content: center;
    gap: 20px;
    width: calc(700px - 590px);
    height: 100%
}

.item img {
    height: 25px; width: 25px;
    cursor: pointer;
}

.item-info {
    color: var(--white);
    margin: 0;
    font-size: 14px;
    height: calc(60px - 35px);
    display: flex; align-items: center;
    padding-left: 20px;
}


/* Body */
body {
    background-color: var(--white);
    min-height: 100vh; width: 1200px;
}

/* Misc */
.flex-center {
    padding-top: 20px;
    display: flex; flex-direction: column; align-items: center;
    gap: 20px;
}

.underline {
    text-decoration: underline;
}