<!-- Comment -->
<div class="comment">
    <div class="comment-header"><p>Posted {{createdAt.formattedDate}} at {{createdAt.formattedTime}} by {{user.username}}</p></div>
    <p class="comment-content">{{{content}}}</p>
</div>