<header>
    <h1>Basic Tech Blog</h1>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
<header>