<header>
    <h1>Basic Tech Blog</h1>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{!-- Show "logout" if user is logged in --}}
            {{#if loggedIn}}
            <li><a href="/logout">Logout</a></li>
            {{!-- Or else show "login" --}}
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>