<div class="new-comment-container">
    <form class="new-comment-form">
        <input type="hidden" id="post-id" value="{{postId}}">
        <label for="content">Comment</label>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Comment"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>

<script src="/js/newComment.js"></script>