<div id="new-comment-container">
    <form class="new-comment-form">
        <input type="hidden" id="post-id" value="{{postId}}">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Comment"></textarea><br>
        <div id="comment-button"><button type="submit">Submit</button></div>
    </form>
</div>

<script src="/js/newComment.js"></script>