<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Basic Tech Blog</title>
        <link rel="stylesheet" href="../public/css/normalize.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">Dashboard</a></li>
                <li><a href="./contact.html">Login</a></li>
            </ul>
        </nav>
        
        <main>
            <article>
                <h2>Blog Post</h2>
                <span>Posted by user on 7/4/2023</span>
                <p>this is a blog post</p>
            </article>
        </main>
    </body>
</html>